<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
<menu id="root-menu" label="root-menu">
  <menu id="Accessories" label="Инструменты">
    <item label="Android File Transfer (MTP)">
      <action name="Execute"><command>android-file-transfer</command></action>
    </item>
    <item label="Arqiver">
      <action name="Execute"><command>arqiver</command></action>
    </item>
    <item label="Barrier">
      <action name="Execute"><command>barrier</command></action>
    </item>
    <item label="GPG-Gui">
      <action name="Execute"><command>gpg-gui</command></action>
    </item>
    <item label="Leafpad">
      <action name="Execute"><command>leafpad</command></action>
    </item>
    <item label="Midnight Commander">
      <action name="Execute"><command>mc</command></action>
    </item>
    <item label="Waypaper">
      <action name="Execute"><command>waypaper</command></action>
    </item>
    <item label="Xfi">
      <action name="Execute"><command>xfi</command></action>
    </item>
    <item label="Xfp">
      <action name="Execute"><command>xfp</command></action>
    </item>
    <item label="Xfw">
      <action name="Execute"><command>xfw</command></action>
    </item>
    <item label="Файловый менеджер PCManFM">
      <action name="Execute"><command>pcmanfm</command></action>
    </item>
  </menu> <!-- Accessories -->
  <menu id="Internet" label="Интернет">
    <item label="FileZilla">
      <action name="Execute"><command>filezilla</command></action>
    </item>
    <item label="qBittorrent">
      <action name="Execute"><command>qbittorrent</command></action>
    </item>
    <item label="Telegram Desktop">
      <action name="Execute"><command>telegram-desktop --</command></action>
    </item>
    <item label="TigerVNC viewer">
      <action name="Execute"><command>vncviewer</command></action>
    </item>
    <item label="Веб-браузер Firefox">
      <action name="Execute"><command>firefox</command></action>
    </item>
  </menu> <!-- Internet -->
  <menu id="Multimedia" label="Мультимедиа">
    <item label="Проигрыватель mpv">
      <action name="Execute"><command>mpv --player-operation-mode=pseudo-gui --</command></action>
    </item>
    <item label="Регулятор громкости PulseAudio">
      <action name="Execute"><command>pavucontrol</command></action>
    </item>
  </menu> <!-- Multimedia -->
  <menu id="Settings" label="Настройки">
    <item label="Waypaper">
      <action name="Execute"><command>waypaper</command></action>
    </item>
    <item label="Настройка внешнего вида">
      <action name="Execute"><command>lxappearance</command></action>
    </item>
    <item label="Настройки tint2">
      <action name="Execute"><command>tint2conf</command></action>
    </item>
    <item label="Параметры NVIDIA X Server">
      <action name="Execute"><command>nvidia-settings</command></action>
    </item>
    <item label="Параметры рабочего стола">
      <action name="Execute"><command>pcmanfm --desktop-pref</command></action>
    </item>
    <item label="Предпочтительные приложения">
      <action name="Execute"><command>libfm-pref-apps</command></action>
    </item>
    <item label="Регулятор громкости PulseAudio">
      <action name="Execute"><command>pavucontrol</command></action>
    </item>
  </menu> <!-- Settings -->
  <menu id="Office" label="Офис">
    <item label="GnuCash">
      <action name="Execute"><command>gnucash</command></action>
    </item>
  </menu> <!-- Office -->
  <menu id="Development" label="Разработка">
    <item label="Qt 5 Assistant">
      <action name="Execute"><command>/usr/local/lib/qt5/bin/assistant</command></action>
    </item>
    <item label="Qt 5 Designer">
      <action name="Execute"><command>/usr/local/lib/qt5/bin/designer</command></action>
    </item>
  </menu> <!-- Development -->
  <menu id="System" label="Система">
    <item label="Alacritty">
      <action name="Execute"><command>alacritty</command></action>
    </item>
    <item label="Android File Transfer (MTP)">
      <action name="Execute"><command>android-file-transfer</command></action>
    </item>
    <item label="fbpanel">
      <action name="Execute"><command>fbpanel</command></action>
    </item>
    <item label="Htop">
      <action name="Execute"><command>htop</command></action>
    </item>
    <item label="Midnight Commander">
      <action name="Execute"><command>mc</command></action>
    </item>
    <item label="Tint2">
      <action name="Execute"><command>tint2</command></action>
    </item>
    <item label="Xfe">
      <action name="Execute"><command>xfe</command></action>
    </item>
    <item label="XTerm">
      <action name="Execute"><command>xterm</command></action>
    </item>
    <item label="Файловый менеджер PCManFM">
      <action name="Execute"><command>pcmanfm</command></action>
    </item>
  </menu> <!-- System -->
</menu> <!-- root-menu -->
</openbox_menu>
<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
<menu id="root-menu" label="root-menu">
  <menu id="Accessories" label="Инструменты">
    <item label="Android File Transfer (MTP)">
      <action name="Execute"><command>android-file-transfer</command></action>
    </item>
    <item label="Arqiver">
      <action name="Execute"><command>arqiver</command></action>
    </item>
    <item label="Barrier">
      <action name="Execute"><command>barrier</command></action>
    </item>
    <item label="GPG-Gui">
      <action name="Execute"><command>gpg-gui</command></action>
    </item>
    <item label="Leafpad">
      <action name="Execute"><command>leafpad</command></action>
    </item>
    <item label="Midnight Commander">
      <action name="Execute"><command>mc</command></action>
    </item>
    <item label="Waypaper">
      <action name="Execute"><command>waypaper</command></action>
    </item>
    <item label="Xfi">
      <action name="Execute"><command>xfi</command></action>
    </item>
    <item label="Xfp">
      <action name="Execute"><command>xfp</command></action>
    </item>
    <item label="Xfw">
      <action name="Execute"><command>xfw</command></action>
    </item>
    <item label="Файловый менеджер PCManFM">
      <action name="Execute"><command>pcmanfm</command></action>
    </item>
  </menu> <!-- Accessories -->
  <menu id="Internet" label="Интернет">
    <item label="FileZilla">
      <action name="Execute"><command>filezilla</command></action>
    </item>
    <item label="qBittorrent">
      <action name="Execute"><command>qbittorrent</command></action>
    </item>
    <item label="Telegram Desktop">
      <action name="Execute"><command>telegram-desktop --</command></action>
    </item>
    <item label="TigerVNC viewer">
      <action name="Execute"><command>vncviewer</command></action>
    </item>
    <item label="Веб-браузер Firefox">
      <action name="Execute"><command>firefox</command></action>
    </item>
  </menu> <!-- Internet -->
  <menu id="Multimedia" label="Мультимедиа">
    <item label="Проигрыватель mpv">
      <action name="Execute"><command>mpv --player-operation-mode=pseudo-gui --</command></action>
    </item>
    <item label="Регулятор громкости PulseAudio">
      <action name="Execute"><command>pavucontrol</command></action>
    </item>
  </menu> <!-- Multimedia -->
  <menu id="Settings" label="Настройки">
    <item label="Labwc Config">
      <action name="Execute"><command>labwc-tweaks-gtk</command></action>
    </item>
    <item label="Labwc Tweaks">
      <action name="Execute"><command>labwc-tweaks</command></action>
    </item>
    <item label="Waypaper">
      <action name="Execute"><command>waypaper</command></action>
    </item>
    <item label="Настройка внешнего вида">
      <action name="Execute"><command>lxappearance</command></action>
    </item>
    <item label="Настройки tint2">
      <action name="Execute"><command>tint2conf</command></action>
    </item>
    <item label="Параметры NVIDIA X Server">
      <action name="Execute"><command>nvidia-settings</command></action>
    </item>
    <item label="Параметры рабочего стола">
      <action name="Execute"><command>pcmanfm --desktop-pref</command></action>
    </item>
    <item label="Предпочтительные приложения">
      <action name="Execute"><command>libfm-pref-apps</command></action>
    </item>
    <item label="Регулятор громкости PulseAudio">
      <action name="Execute"><command>pavucontrol</command></action>
    </item>
  </menu> <!-- Settings -->
  <menu id="Office" label="Офис">
    <item label="GnuCash">
      <action name="Execute"><command>gnucash</command></action>
    </item>
  </menu> <!-- Office -->
  <menu id="Development" label="Разработка">
    <item label="Qt 5 Assistant">
      <action name="Execute"><command>/usr/local/lib/qt5/bin/assistant</command></action>
    </item>
    <item label="Qt 5 Designer">
      <action name="Execute"><command>/usr/local/lib/qt5/bin/designer</command></action>
    </item>
  </menu> <!-- Development -->
  <menu id="System" label="Система">
    <item label="Alacritty">
      <action name="Execute"><command>alacritty</command></action>
    </item>
    <item label="Android File Transfer (MTP)">
      <action name="Execute"><command>android-file-transfer</command></action>
    </item>
    <item label="fbpanel">
      <action name="Execute"><command>fbpanel</command></action>
    </item>
    <item label="Htop">
      <action name="Execute"><command>htop</command></action>
    </item>
    <item label="Labwc Config">
      <action name="Execute"><command>labwc-tweaks-gtk</command></action>
    </item>
    <item label="Midnight Commander">
      <action name="Execute"><command>mc</command></action>
    </item>
    <item label="Tint2">
      <action name="Execute"><command>tint2</command></action>
    </item>
    <item label="ubuntu_chroot">
      <action name="Execute"><command>ubuntu_chroot</command></action>
    </item>
    <item label="Xfe">
      <action name="Execute"><command>xfe</command></action>
    </item>
    <item label="XTerm">
      <action name="Execute"><command>xterm</command></action>
    </item>
    <item label="Файловый менеджер PCManFM">
      <action name="Execute"><command>pcmanfm</command></action>
    </item>
  </menu> <!-- System -->
</menu> <!-- root-menu -->
</openbox_menu>
