[Desktop Entry]
Name=Ubuntu Chroot
Exec=ubuntu_chroot
Icon=/home/definitly/.config/icons/ubuntu.png
Type=Application
Terminal=false
Categories=System;
Name[ru_RU]=ubuntu_chroot
