[Desktop Entry]
Type=Application
Icon=system-file-manager
Name=Open as Root File Manager PCManFM

Name[ru]=Open as Root Файловый менеджер PCManFM



Categories=System;FileTools;FileManager;Utility;Core;GTK;
Exec=sudo pcmanfm
StartupNotify=true
Terminal=false
MimeType=inode/directory;
