[Desktop Entry]
Type=Application
Icon=/usr/local/share/sdrpp/icons/sdrpp.png
Name=sdrpp

Name[ru]=sdrpp



Categories=System;FileTools;FileManager;Utility;Core;GTK;
Exec=sdrpp
StartupNotify=true
Terminal=false
MimeType=inode/directory;
