CONFIG="
--filter-tcp=80 <HOSTLIST>
--dpi-desync=fake,split2
--dpi-desync-autottl=2
--dpi-desync-fooling=md5sig

--new
--filter-tcp=443
--ipset=/opt/zapret/ipset/zapret-ip-user.txt
--dpi-desync=split2
--dpi-desync-split-seqovl=681
--dpi-desync-split-seqovl-pattern=/opt/zapret/files/fake/tls_clienthello_www_google_com.bin

--new
--filter-tcp=443 <HOSTLIST>
--dpi-desync=fake,multisplit
--dpi-desync-fake-tls-mod=rnd,dupsid,sni=fonts.google.com
--dpi-desync-fooling=badseq
--dpi-desync-fake-tls=/opt/zapret/files/fake/tls_clienthello_www_google_com.bin

--new
--filter-tcp=80
--hostlist=/opt/zapret/ipset/zapret-hosts-user.txt
--dpi-desync=fake,multisplit
--dpi-desync-fooling=md5sig
--dpi-desync-autottl=1

--new
--filter-udp=443
--hostlist=/opt/zapret/ipset/zapret-hosts-user.txt
--dpi-desync=fake,multidisorder
--dpi-desync-fooling=md5sig,badseq
--dpi-desync-fake-quic=/opt/zapret/files/fake/quic_initial_www_google_com.bin

--new
--filter-udp=50000-50099
--filter-l7=discord,stun
--dpi-desync=fake
"