CONFIG="
--filter-tcp=80 ˂HOSTLIST˃
--dpi-desync=fakeddisorder
--dpi-desync-ttl=0
--dpi-desync-repeats=16
--dpi-desync-fooling=badsum
--dpi-desync-fake-tls=/opt/zapret/files/fake/tls_clienthello_www_google_com.bin

--new
--filter-tcp=443
--hostlist=/opt/zapret/ipset/zapret-hosts-google.txt
--dpi-desync=fakeddisorder
--dpi-desync-repeats=16
--dpi-desync-fooling=badsum

--new
--filter-udp=443
--hostlist=/opt/zapret/ipset/zapret-hosts-google.txt
--dpi-desync=fakeddisorder
--dpi-desync-repeats=11
--dpi-desync-fake-quic=/opt/zapret/files/fake/quic_initial_www_google_com.bin

--new
--filter-udp=443 ˂HOSTLIST_NOAUTO˃
--dpi-desync=fake
--dpi-desync-repeats=11

--new
--filter-tcp=443 ˂HOSTLIST˃
--dpi-desync=fakeddisorder
--dpi-desync-split-pos=midsld
--dpi-desync-repeats=6
--dpi-desync-fooling=badseq,badsum
"