[Desktop Entry]
Name=Opera Proxy
Exec=opera-proxy.py
Icon=opera-proxy.jpg
Type=Application
Terminal=false
Categories=Network;
Name[ru_RU]=Opera Proxy
