[Desktop Entry]
Type=Application
Name=burniso
Exec=/home/definitly/.scripts/burniso.sh %f
Categories=Other;
NoDisplay=true
MimeType=application/x-cd-image
Terminal=true
X-KeepTerminal=true
